<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>練習vue</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>定義渲染區域</h1>
    <div id="vue1">
        {{ text }}

        <h2>
            {{ text }}
        </h2>

        <h3>
            {{ text }}
        </h3>

    </div>

    <h1>將資料寫在屬性內</h1>
    <div id="vue2">
        <h2 v-bind:align="aligment">標題二</h2>
        <a v-bind:href="google">谷歌</a>
    </div>

    <h1>判斷式</h1>
    <div id="vue3">
        <p v-if="test">我是段落文字</p>
        <div v-if="test">我式區塊</div>

        <h2>活動特價</h2>
        <a href="#" v-if="activity">特價區，點我前往</a>
        <span v-else="activity">活動已經結束。</span>
    </div>

    <h1>迴圈</h1>

    <div id="vue4">
        <a href="#" v-for="n in 5">分頁連結{{n}}</a>

        <div v-for="p in products">
            <h3>{{ p.name }}</h3>
            <h4>價格:{{ p.price }}元</h4>
            <hr>
        </div>
    </div>

    <div id="vue5">
        <h2 v-on:click="show">我是標題二{{ text }}</h2>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>